body {
    font: 20px/1.5 Ariel, Helvetica, san-serif;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

/* Header */

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 50px;
    border-bottom: #e8491d 3px solid;
}


h2 {
    letter-spacing: 25px;

}

/* Main */



.form {

    background-color: lightgray;
    opacity: 0.95;
    margin: 35px 275px 35px 275px;
    border: solid 5px #35424a;
    padding-bottom: 20px;


}

input[type=text] {
    border: 2px solid #35424a;
}

main {
    /*background-color: #35424a;*/
    color: #EE1133;
    font-weight: bolder;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    background: url("../img/register.jpg") #35424a;
}


#main {
    font-size: 50px;
    font-family: Copperplate,  Ariel, sans-serif;
}


/* Login */

#login {
    font-weight: bold;
    padding-top: 10px;
}

/*/* Bio */

/*#bio_area {*/

/*}*/

/*/* Feedback */

#ad {
    text-decoration: underline;
}

/*#feedback {*/

/*}*/

/* Browser */
#browser_select {
    padding: -20px;
}

/* Register */

button {
    font-weight: bold;
    border-radius: 15px;
    text-align: center;


}